body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > div {
    padding-left: 10%;
    padding-right: 10%;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
}

.header {
    padding-top: 20px;
    flex-direction: column;
}

.footer {
    padding: 20px;
    justify-content: center;
    color: white;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1 0 auto;
}

.nav {
    display: flex;
    gap: 30px;
    margin-bottom: 10%;
}

.nav a {
    text-decoration: none;
    margin: auto;
}

.nav a, .hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    margin-bottom: 10%;
    gap: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    width: max-content;
    height: max-content;
    padding: 6px 30px;
    color: white;
    background-color: #3882F6;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
}

.hero > * {
    margin-bottom: 10px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img > img {
    max-height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.info > h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px 0 40px 0;
}

.info-container {
    display: flex;
    justify-content: center;
}

.infobox {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;
}

.infobox > p {
    padding: 10px;
    color: #1F2937;
}

.imgbox {
    width: 150px;
    height: 150px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.imgbox > img {
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    font-size: 24px;
    margin-top: 15px;
    margin-left: auto;
    font-weight: bold;
}

.ctabox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    background-color: #3882F6;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
    border-radius: 10px;
}

.cta-button {
    display: flex;
}

.cta-button > button {
    margin: auto;
    border: 2px white solid;
    border-radius: 5px;
}

.cta > h3 {
    color: #F9FAF8;
}

.cta > p {
    color: #E5E7EB;
}